.places {
    display: flex;
    flex-direction: column;
    max-width: 894px;
    margin: auto;
    padding-bottom: 70px;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 93%;
        padding-bottom: 66px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 96%;

    }
}

@media screen and (max-width: 600px) {
    .places {
        max-width: 100%;
        padding-bottom: 42px;
    }
}