@import url(./__image/lead__image.css);
@import url(./__group/lead__group.css);
@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__caption/lead__caption.css);
@import url(./__figure/figure.css);

.lead {
    display: flex;
    justify-content: center;  
    flex-direction: column;
    align-items: center; 
    max-width: 76%;
    margin: auto;
}

@media screen and (max-width: 1024px) {
.lead  {
    max-width: 90%;
}
}

@media screen and (max-width: 768px) {
    .lead  {
        max-width: 100%;
    }
    }
