@import url(./__links/header__links.css);
@import url(./__lang_link/header__lang_link.css);
@import url(./__logo/header__logo.css);

.header {
    width: calc(100% - 48px);
    display: flex;
    justify-content: space-between;
    width: 92.5%;
    margin: auto;
}