.place__text {
    width: 48%;
}

@media screen and (max-width: 768px) {
    .place__text {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 700px) {
    .place__text {
        align-self: center;
        width: 95%;
        padding-top: 32px;
    }
}